body
{
    font-family: 'poppins',sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
hr
{
    width: 50%;
    margin: 20px auto;
    border-top: 1px solid #ccc;
}
h1,h2
{
    font-weight: 700;
}
p,a
{
    font-weight: 400;
}
a{
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
}
a:hover
{
    color: #0056b3;
}
.fas, .fab
{
    margin-right: 1px;
    color: inherit;
}
.icon-link
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    transition: transform 0.3s ease;
}
.email-icon
{
    background-color: #dd4b39;
}
.linkedin-icon
{
    background-color: #0e76a8;
}
.icon-link:hover
{
    transform: scale(1.1);
    color: #fff;
}
header,footer
{
    background: linear-gradient(to right,#831bcd,#f9620b);
    color:#ffff;
    text-align: center;
    padding: 40px 0;
}
section
{
    padding: 20px;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius:50%;
    box-shadow: 0 5px  15px rgba(0,0,0,0.2);
    object-fit: cover;

}
ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}
ul li
{
    background: #f0f2f5;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
form
{
    max-width: 500;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.form-group
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: flex-start;
}
.form-group label
{
    flex: 0 0 80px;
    margin-right: 10px;
    text-align: right;
}
form input[type="text"],
form input[type="email"],
form textarea { /* Modified to include textarea as well if needed*/
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    z-index: 10; /* Added z-index here */
}
form textarea
{
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
}
form button
{
    width: calc(100%-20px);
    padding: 10px 20px;
    margin-left: auto;
    margin-top: 10px;
    background-image: linear-gradient(to right,#831bcd,#f9620b);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-image 0.3s ease;
}
form button:hover
{
    background-image: linear-gradient(to right,#f9620b,#831bcd);
}
.fa-envelope, .fa-linkedin {
    margin-right: 5px; /* Add space between icon and text */
    font-size: 1.2em; /* Adjust icon size */
}